# Part 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
filename="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
df=pd.read_html(filename)

In [4]:
df=df[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
df.shape

(180, 3)

In [6]:
df.replace("Not assigned",np.nan,inplace=True)

In [7]:
df=df[df["Borough"].notna()]

In [8]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Here I obtained the data from wikipedia and dropped all rows that had a value of NaN in the Borough column ( after i converted "Not assigned" to NaN.

In [9]:
df.shape

(103, 3)

# Part 2

In [10]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [11]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df1=pd.merge(geo_df,df,on="Postal Code")

In [17]:
df2=df1[["Postal Code","Borough","Neighbourhood","Latitude","Longitude"]]
df2.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476